DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=123456
PORT=8000
DB_NAME=hoczi
ACCESS_SECRET=bA7dQ9LmX2pR6zN4vT1c
REFRESH_SECRET=X7vPz9LmR3qT1AaWc8Nb
JWT_EXPIRED_TIME=60m

ALCHEMY_API_KEY=KtEqqtVKNUOXNP0MrdFxlOCNSsv36zG_
ALCHEMY_API_URL=https://eth-mainnet.g.alchemy.com/v2/KtEqqtVKNUOXNP0MrdFxlOCNSsv36zG_
ALCHEMY_BSC_API_URL=https://bnb-mainnet.g.alchemy.com/v2/KtEqqtVKNUOXNP0MrdFxlOCNSsv36zG_
KEY=ghj9paoehgaopwighaopweigo
BINANCE_PRICE_URL=https://api.binance.com/api/v3/ticker/price

AWS_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=AKIARTWTBEHBSTJT3NYK
AWS_SECRET_ACCESS_KEY=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
FROM_EMAIL=noreply@tefibit.com

# AKIARTWTBEHBSTJT3NYK/qjr+2gICPD6OOQtfoq4rD0caGDGgU5JCm8JL5Quw
BOT_TOKEN=8001202985:AAEyan6Ay9tfpS3N9m6jgQJdNdfZ9ZYbcW8
GOOGLE_CLIENT_ID=820384262129-g6r6uocl8rim9ag37rhe405ffnjaoe9e.apps.googleusercontent.com
# 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

GEMINI_API=AIzaSyAI4RbGyZZOj78Rbc8hsCyhvj6ebMkLuQk



GEMINI_API_KEY=AIzaSyADR92MOmiUNlrrvTR_sxKhXcBnfl-b-14

SYSTEM_EMAIL=teficapital@gmail.com

AWS_S3_BUCKET_NAME=tefibit-assets

PRIVATE_IP=http://10.15.0.5

NODE_ENV=development

KAFKA_BROKERS=localhost:9092
KAFKA_TOPICS=auth-events